.project-not-found, .generic-not-found {
    vertical-align:middle;
    display: table-cell;
    // to center between bar and footer: height = page - header+ - footer - header+
    height: calc(100vh - #{$unit * 10} - #{$unit * 16} - #{$unit * 10});

    @include breakpoint($small){ height: calc(100vh - #{$unit * 10} - #{$unit-9} - #{$unit * 10}); }
    @include breakpoint($med){ height: calc(100vh - #{$unit-8} - #{$unit-9} - #{$unit-8}); }

    .h1 {
        a {
            @include link--secondary;
        }
    }
}