.resources-description {
    border-top: 1px solid $grey_medium;
    padding-top: $unit-half;

    p {
        @include h4;
        color: $black;

        @include breakpoint($small) {
            @include col-half(false);
        }
    }

    p:first-of-type {
        @include h2;

        margin-bottom: $unit/2;
    }
}

.resource {
  margin-bottom: $unit * 5;
  @include breakpoint($small) { margin-bottom: $unit * 11; }
  @include breakpoint($med) { margin-bottom: $unit * 10; }

  .container {
    display: flex; flex-direction: column;
    @include breakpoint($small) { display: block; }
  }

  .resource-info {
    margin-bottom: $unit-3;
    order: 2;

    @include breakpoint($small) {
      border-top: 1px solid $black;
      padding-top: $unit-half;

      margin-bottom: $unit-4;
    }
    
      @include breakpoint($med) {
        margin-bottom: $unit-3;
      }
  }
    
  .resource-title {
    @include breakpoint($small) { margin-bottom: $unit-half; }
  }

  .resource-download {
    a {
      @include link--tertiary;
    }
  }

  .resource-gallery { order: 1; }
  .resource-detail { order: 3; }
}