.store-description {
    border-top: 1px solid $black;
    padding-top: $unit-half;

    p {
        @include h4;
        color: $black;

        @include breakpoint($small) {
            @include col-half(false);
        }
    }

    p:first-of-type {
        @include h2;
    }
}

.product {
    margin-bottom: $unit * 5;
    @include breakpoint($small) { margin-bottom: $unit * 11; }
    @include breakpoint($med) { margin-bottom: $unit * 10; }
}

.product-info {
    border-top: 1px solid $black;
    padding-top: $unit-half;
    
    margin-bottom: $unit-4;
    
      @include breakpoint($med) {
        // @include col-two-thirds(false);
        // margin-bottom: 55px;
        margin-bottom: $unit-3;
      }
  }
  
  .product-title {
    margin-bottom: $unit-half;
  }