---
title: Page not found – Rationale
permalink: "/404.html"
layout: default
---


<div class="container">
    <div class="project-not-found" style="display:none" id="prj404">
        <div>
            <div class="h1 mb-1-5">
                Sorry, project not found. View others or see all work <a href="/">here</a>.
            </div>
            <div class="not-found-suggestions">
                <ul class="thumbnails">
                    {% assign projects = site.our-work | sort:"position" %}
                    {% assign firstSuggestion = projects[0] %}
                    {% assign secondSuggestion = projects[1] %}
                    {% include thumbnail.html item=firstSuggestion %}
                    {% include thumbnail.html item=secondSuggestion %}
                </ul>
            </div>
        </div>
    </div>
    <div class="generic-not-found" style="display:none" id="res404">
        <div><div class="h1">
            Sorry, project not found. Go back to the Resources <a href="/resources">here</a>.
        </div></div>
    </div>
    <div class="generic-not-found" style="display:none" id="str404">
        <div><div class="h1">
            Sorry, project not found. Go back to the Store <a href="/store">here</a>.
        </div></div>
    </div>
</div>
<script>
    var url = window.location.href;
    if (url.indexOf("/resources") !== -1) document.getElementById('res404').style.display = 'block';
    else if (url.indexOf("/store") !== -1) document.getElementById('str404').style.display = 'block';
    else document.getElementById('prj404').style.display = 'block';
</script>
