<div class="row">
  <div class="sm-col-half">
    <ul>
      <li>
        <a itemprop="email" href="mailto:hello@rationale-design.com">hello@rationale-design.com</a>
      </li>
      <li>
        <a itemprop="telephone" href="tel:+12067556700">+1 206/755 6700</a>
      </li>
    </ul>
  </div>
  <div class="sm-col-half">
    <ul>
      <div class="sm-col-half med-col-third mb-tight">
        <li>
          <a href="/news/" class="news-link {% if parent.url == "/news" %}is-current-page{% endif %}">
            News
          </a>
        </li>
        <li>
          <a href="/resources/" class="archive-link {% if parent.url == "/resources" %}is-current-page{% endif %}">
            Resources
          </a>
        </li>
        <li>
          <a href="/store/" class="store-link {% if parent.url == "/store" %}is-current-page{% endif %}">
            Store
          </a>
        </li>
      </div>
      <div class="sm-col-half med-col-third mb-tight">
        <li>
          <a href="http://facebook.com/rationaledesign" target="_blank">Facebook</a>
        </li>
        <li>
          <a href="http://twitter.com/RationaleDesign" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/seanwolcott/" target="_blank">Instagram</a>
        </li>
      </div>
    </ul>
  </div>
</div>
