<div class="row">
  <div class="sm-col-half">
    <ul>
      <li>
        <a itemprop="email" href="mailto:hello@rationale-design.com">hello@rationale-design.com</a>
      </li>
      <li>
        <a itemprop="telephone" href="tel:+14157429116">+1 415/742 9116</a>
      </li>
    </ul>
  </div>
  <div class="sm-col-half">
    <ul>
      <div class="sm-col-half med-col-third mb-tight">
        <li>
          <a href="/all-projects/" class="all-projects-link {% if parent.url == "/all-projects" and page.permalink != "/404.html" %}is-current-page{% endif %}">
            All projects
          </a>
        </li>
        <li>
          <a href="/resources/" class="archive-link {% if parent.url == "/resources" and page.permalink != "/404.html" %}is-current-page{% endif %}">
            Resources
          </a>
        </li>
        <li>
          <a href="/shop/" class="store-link {% if parent.url == "/shop" and page.permalink != "/404.html" %}is-current-page{% endif %}">
            Shop
          </a>
        </li>
      </div>
      <div class="sm-col-half med-col-third mb-tight">
        <li>
          {% assign isArticle = false %}
          {% if page.title == 'Articles' or page.collection == 'articles' %}
            {% assign isArticle = true %}
          {% endif %}
          <a href="/articles/" class="news-link {% if isArticle and page.permalink != "/404.html" %}is-current-page{% endif %}">
            Articles
          </a>
        </li>
        <li>
          <a href="http://twitter.com/RationaleDesign" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/seanwolcott/" target="_blank">Instagram</a>
        </li>
      </div>
    </ul>
  </div>
</div>
