<footer class="row">
  <div>
    <a itemprop="email" href="mailto:hello@rationale-design.com">hello@rationale-design.com</a>
    <a itemprop="telephone" href="tel:+12067556700">+1 206/755 6700</a>
  </div>
  <div>
    <ul>
      <li><a href="http://www.facebook.com/rationaledesign" target="_blank">Facebook</a></li>
      <li><a href="http://twitter.com/RationaleDesign" target="_blank">Twitter</a></li>
      <li><a href="/resources/" class="archive-link {% if parent.url == "/resources" %}is-current-page{% endif %}">Resources</a></li>
      <li><a href="/store/" class="store-link {% if parent.url == "/store" %}is-current-page{% endif %}">Store</a></li>
    </ul>
  </div>
</footer>