<div class="image-gallery">
  <div class="owl-carousel">
    {% assign thumbs = page.images %}
    {% for thumb in thumbs %}
      <div class="owl-thumb">{% include img.html image=thumb %}</div>
    {% endfor %}
  </div>
  <!--<div class="gallery-img">
    {% include img.html image=page.thumb_image %}
  </div>
  <ul class="gallery-thumbnails">
    {% assign thumbs = page.images %}
    {% assign imgcount = thumbs | size %}

    {% unless imgcount == 1 %}
    {% for thumb in thumbs %}
      <li class="gallery-thumbnail img-{{ forloop.index }} {% if forloop.first == true %}active{% endif %}">
        <div class="thumb-wrap">
          {% include img.html image=thumb %}
        </div>
      </li>
    {% endfor %}
    {% endunless %}
  </ul>-->
</div>
