<div class="image-gallery">
  <div class="gallery-img">
    {% include img.html image=page.thumb_image %}
  </div>
  <ul class="gallery-thumbnails">
    {% assign thumbs = page.images %}
    {% assign imgcount = thumbs | size %}

    {% unless imgcount == 1 %}
    {% for thumb in thumbs %}
      <li class="gallery-thumbnail img-{{ forloop.index }}">
        <div class="thumb-wrap {% if forloop.first == true %}active{% endif %}">
          {% include img.html image=thumb %}
        </div>
      </li>
    {% endfor %}
    {% endunless %}
  </ul>
</div>
