{% assign thumbs = page.images %}
{% assign imgcount = thumbs | size %}

<div class="image-gallery">
  <div class="owl-carousel">
    {% for thumb in thumbs %}
      <div class="owl-thumb">{% include img.html image=thumb  type="gallery" %}</div>
    {% endfor %}
  </div>
  <ul class="gallery-thumbnails">
    {% unless imgcount == 1 %}
    {% for thumb in thumbs %}
      <li class="gallery-thumbnail {% if forloop.first == true %}active{% endif %}" data-target="{{ forloop.index }} ">
        <div class="thumb-wrap">
          {% include img.html image=thumb type="gallery" %}
        </div>
      </li>
    {% endfor %}
    {% endunless %}
  </ul>
</div>
