{{page | jsonify}}
<article>
  <div class="post-title">
    <h2 class="bold">
      {{page.title}}
    </h2>
    <span>
    {% for tag in page.tags %}
      <h6 class="blog-tag"><a href="{{tag.url}}">{{tag.value}}</a></h6>
    {% endfor %}
      <time datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date: "%B %d, %Y" }}</time>
    </span>
  </div>
  <div class="post-body">
    {{page.content}}
  </div>
  <nav>
    {% if previous %}<a href="{{ previous.url }}">previous</a>{% endif %}
    {% if next %}<a href="{{ next.url }}">next</a>{% endif %}
  </nav>
</article>
