<article class='project-detail'>
  <div class="container">
    <div class="project-info">
      <div class='project-title'>
        <h4 class='bold'>{{ page.title }}</h4>
        <h5 class='sub-title'>{{ page.categories[0] }}</h5>
      </div>
      <div class="project-description">
        {% comment %}if project has excerpt{% endcomment %}
        {% if excerpt != body %}
            {{excerpt}}
          <div class="more-text">
            {{content}}
          </div>
          <button class="js-more hidden-break">More</button>
        {% else %}
          {{content}}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="project-images">
    {% assign pageTitle = page.url | split: '/' %}
    {% comment %}Pull number of images from imgCount set in CMS then include image{% endcomment %}
    {% for i in (1..{{page.imgcount}}) %}
      {% capture img %}/assets/img{{ page.url }}detail/{{pageTitle[2]}}-b{{i}}{% endcapture %}
      {% include img.html %}
    {% endfor %}
  </div>
</article>
<div class="container">
  <div class="more">
    More
    <ul class="thumbnails"></ul>
  </div>
</div>

<script type="text/javascript">

  // create the random projects at the bottom of each project detail page

  var currentTitle = "{{page.title}}"; // grabs current page

  var randomUsed = [];
  var counter = 0;
  var numberOfPosts = 3;

  while (counter < numberOfPosts){

    var random;
    var projectUrl;
    var projectTitle;
    var projectImg;
    var projectCat;

    random = Math.floor(Math.random() * projectsUrl.length);

    if (randomUsed.indexOf(random) == "-1"){

      // makes sure project current project isn't displayed

      while (projectsTitle[random] == currentTitle) {
        random = Math.floor(Math.random() * projectsUrl.length);
      }

      // sets each value by the random index # these values

      projectUrl = projectsUrl[random];
      projectTitle = projectsTitle[random];
      projectImg = projectsImg[random];
      projectCat = projectsCat[random];

      // html added to the page

      document.querySelector( '.thumbnails' ).innerHTML += '<li class="thumbnail"><a href="'+projectUrl+'">' +
                                '<span class="lazy thumb" data-alt="'+projectTitle+' project image">' +
                                  '<span data-src="'+projectImg+'-s1-small.jpg"></span>' +
                                  '<span data-src="'+projectImg+'-s1-small@2x.jpg" data-media="(-webkit-min-device-pixel-ratio: 2.0)"></span>' +
                                  '<span data-src="'+projectImg+'-s1-@1x.jpg" data-media="(min-width: 1025px)"></span>' +
                                  '<span data-src="'+projectImg+'-s1-@2x.jpg" data-media="(min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>' +
                                  '<noscript>' +
                                    '<img src="{{img}}.jpg" alt="'+projectTitle+' project image">' +
                                  '</noscript>' +
                                '</span>' +
                                '<h2 class="bold">'+projectTitle+'</h2><h3 class="sub-title">'+projectCat+'</h3></a></li>';

      randomUsed.push(random);
      counter++;
    }
  }

</script>
