footer > .row {
  padding-top: $unit-half;
  @extend %border-top;

  div {
    &:first-child {
      margin-bottom: 18px;
    }
  }

  a {
    @include h5;
    @include link;
    display: inline-block;

    &.is-current-page {
      color: $red;
    }
  }
}
