.logo {
  @include o(red);
  float: left;
  margin-bottom:  $half-spacing-unit;

  @include col-half;

  a {
    display: block;
    min-width: 150px;
    width: 100%;
    max-width: 193px;

    @include breakpoint($small) {
      width: 201px;
      max-width: none;
    }

    @include breakpoint($large) {
      width: 236px;
      max-width: none;
    }
  }

  svg { // logo svg
    width: 100%;
  }
}

.nav--header {
  @include o(green);
  @include col-half;
  float:right;
  padding: 0; // for nested elements
  margin-top: -3px;
  @include breakpoint($med) {
    float:right;
    padding: 0; // for nested elements
  }

  li {

    @include breakpoint($med) {
      @include col-third(false);
    }

  }

  a { // this is attached to product detail
    display: block;
    // @extend %bold;
    @include h4--bold;
    padding-bottom: 6px;
    padding-top: 1px;

    &:hover {
      color: $red;
    }
  }
}

.current {
  color: $red;
}
