.primary-header {
  margin-top: $unit-half;
}

.logo {
  margin-bottom:  $half-spacing-unit;

  @include col-half;

  a {
    display: block;
    width: 175px;
    max-width: 100%;
  }

  svg { // logo svg
    height: 32px;
  }
}

.nav--header {
  @include o(green);
  @include col-half;
  float:right;
  padding: 0; // for nested elements

  @include breakpoint($med) {
    float:right;
    padding: 0; // for nested elements
  }

  li {

    @include breakpoint($med) {
      @include col-third(false);
    }

  }

  a { // this is attached to product detail
    display: block;
    @include h4--med;
    @include link;
  }
}
