.primary-header {
  margin-top: $unit-qtr;
}

.logo {
  float: left;
  margin-bottom:  $half-spacing-unit;

  @include col-half;

  a {
    display: block;
    min-width: 150px;
    width: 100%;
    max-width: 193px;

    @include breakpoint($small) {
      width: 175px;
      max-width: none;
    }

    @include breakpoint($large) {
      width: 236px;
      max-width: none;
    }
  }

  svg { // logo svg
    width: 100%;
  }
}

.nav--header {
  @include o(green);
  @include col-half;
  float:right;
  padding: 0; // for nested elements
  margin-top: -6px;

  @include breakpoint($med) {
    float:right;
    padding: 0; // for nested elements
  }

  li {

    @include breakpoint($med) {
      @include col-third(false);
    }

  }

  a { // this is attached to product detail
    display: block;
    @include h4--med;
    padding-bottom: 6px;
    padding-top: 1px;
    @include link;

  }
}
