.js-more { // button
  position: relative;
  line-height: inherit;

  &:before {
    content: '';
    position: absolute;
    top:    -$unit;
    left:   -$unit;
    right:  -$unit;
    bottom: -$unit;
  }
}

.more-short {
  @include breakpoint($med) {
    display: none;
  }
}

.more-full {
  @include breakpoint($small-only) {
    display: none;
  }
}
