.js-more { // button
  position: relative;
  line-height: inherit;

  display: block;
  margin: (-$unit*1.5) 0 (-$unit) 0;

  color: $black;

  &:before {
    content: '';
    position: absolute;
    top:    -$unit;
    left:   -$unit;
    right:  -$unit;
    bottom: -$unit;
  }

  &:hover,
  &:active {
    color: $red;
  }
}

.more-short {
  @include breakpoint($small) {
    display: none;
  }
}

.more-full {
  @include breakpoint($mobile) {
    display: none;
  }
}
