.project-detail {


  img {
    margin-bottom: 1px;
  }
}

.project-detail .project-info {
  border-top: 1px solid $grey_medium;
  padding-top: $unit-half;
}

// project detail

.project-detail .content {
  @include breakpoint($med) {
    @include col-two-thirds(false);
  }
}

.project-description {
  margin-bottom: $unit-4;
  margin-top: -4px;

  @include breakpoint($med) {
    & > p:first-child {
      display: none;
    }
  }
}

.project-content {
  @include breakpoint($small-only) {
    display: none;
  }
}

.project-content--truncated {
  @include breakpoint($med) {
    display: none;
  }
}

.project-images {
  clear: both;
  .lazy {
    min-height: 45vw;
  }
  .lazy:last-child img{
    margin-bottom: 0;
  }
}

.more-projects {
  .h2 {
    margin-bottom: $unit/2;
  }
}

.more {
  svg {
    width: 100%;
    height: 43px;
    display: block;
    margin-bottom: 1px;

    @include breakpoint($large) {
      height: 51px;
    }
  }

  .thumbnail:last-child {
    display: none;
    @include breakpoint($med) {display: block;}
  }
}


