.project-detail {
  margin-bottom: $unit-2;
  @include breakpoint($large) {
    margin-bottom: $unit-4;
  }

  img {
    margin-bottom: 1px;
  }
}

.project-detail .project-info {
  border-top: 1px solid $black;
  padding-top: $unit-half;
}

// project detail

.project-detail .content {
  @include breakpoint($med) {
    @include col-two-thirds(false);
  }
}

.project-title {

}

.project-description {
  margin-bottom: $unit-4;

  @include breakpoint($med) {
    & > p:first-child {
      display: none;
    }
  }

  // targets the truncated description
  & > p:first-child {
    margin-bottom: 0;
  }
}

.project-content {
  @include breakpoint($small-only) {
    display: none;
  }
}

.project-images {
  clear: both;
  .lazy {min-height: 150px;}
  .lazy:last-child img{
    margin-bottom: 0;
  }
}

.more-projects {
  .h2 {
    margin-bottom: $unit;
  }
}

.more {
  svg {
    width: 100%;
    height: 43px;
    display: block;
    margin-bottom: 1px;

    @include breakpoint($large) {
      height: 51px;
    }
  }

  .thumbnail:last-child {
    display: none;
    @include breakpoint($med) {display: block;}
  }
}


