.thumbnails {
  @extend %row;
}

.thumbnail {
  margin-bottom: $unit-25;

  &:hover a {
    color: $red;
  }

  @include breakpoint($small) {
    padding-right: $unit-half;
    @include col-half(false);
  }

  @include breakpoint($med){
    //margin-bottom: $unit-25
    margin-bottom: $unit-3
  }

  @include breakpoint($large){
    margin-bottom: $unit-4;
  }

  .home & { // two col thumbnails only on home
    @include col-half;
    margin-bottom: 1px;

    // hide images on mobile hacky

    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }

    @include breakpoint($small) {
      @include col-half(false);
    }
    @include breakpoint($med) {
      display: block !important;
      @include col-third(false);
    }

    span {margin: 0;}
  }

  // .more & { // thumbnails underneath "more" in project detail
  //   margin-bottom: 40px;

  //   &:last-child {margin-bottom: 12px;}
  // }

  a { // overwrite default link color
    display: block;
    color: $black;
  }

  img {
    display: block;
  }

  /*.thumb { // image margin bottom — replaced by .h4 margin-top
    margin-bottom: 7px;
  }*/

  .thumbnail-title {
    @include h4--med;
    position: absolute; 
    line-height: 1em;
    margin-top: 6px;
  }
}

.lazy,
.imgr {
  display: block;
  position: relative;
  width: 100%;
  // overflow: hidden;
  opacity: 0;
  transition: opacity .7s ease-in-out;

  &.thumb {
    padding-bottom: 56.25%;
    height: 0;
  }

  &.detail {
    // min-height: 500px;
  }

  &.loaded {
    opacity: 1;
  }
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
