@-webkit-keyframes arrow-left {
  0%    {-webkit-transform: rotate(45deg);}
  50%   {-webkit-transform: translate3d(-2px,0,0);}
  100%  {-webkit-transform: rotate(-45deg);}
}

@-webkit-keyframes arrow-right {
  0% {-webkit-transform: rotate(-45deg);}
  50% {-webkit-transform: translate3d(2px,0,0);}
  100% {-webkit-transform: rotate(45deg);}
}

@-webkit-keyframes arrow-left-close {
  0% {-webkit-transform: rotate(-45deg);}
  50% {-webkit-transform: translate3d(-2px,0,0);}
  100% {-webkit-transform: rotate(45deg);}
}

@-webkit-keyframes arrow-right-close {
  0% {-webkit-transform: rotate(45deg);}
  50% {-webkit-transform: translate3d(2px,0,0);}
  100% {-webkit-transform: rotate(-45deg);}
}

.filters {
  position: relative;
  @extend %row;
  @extend %border-top;
  overflow: hidden;
  padding-top: 5px;
  max-height: 44px;
  transition: max-height .5s ease-in-out;

  .projects &,
  .identity &,
  .user-interface &,
  .promotion &,
  .packaging &,
  .publication &,
  .product &,
  .all & { // sets size for all pages except project details
    max-height: 61px;
    @include breakpoint($small) {max-height: 70px;}
    @include breakpoint($med)   {margin-bottom: 0; max-height: 500px;}
  }

  @include breakpoint($med) {margin-bottom: 0; max-height: 500px;}

  &.open {
    max-height: 300px;
  }
}

h6 { // filter by text // and element that controls the dropdown
  font-size: 18px;
  padding-bottom: 13px; // makes room for the active page svg
  display: block;
  margin-top: -3px; // spaces it with filters
  position: relative;
  z-index: 1;

  @include breakpoint($large) {
    font-size: 24px;
  }

  .projects &,
  .identity &,
  .user-interface &,
  .promotion &,
  .packaging &,
  .publication &,
  .product &,
  .all &{ // sets size for all pages except project details
    padding-bottom: 26px;
    @include breakpoint($small) {padding-bottom: 35px;}
      @include breakpoint($med) {
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }

  @include breakpoint($med) {
    margin-bottom: 30px;
    padding-bottom: 0;
  }

  &:after,
  &:before { // dropdown triangle
    @include pseudo;
    top: 19px;
    width:  15px;
    height: 2px;
    background: $black;
    z-index: -1;

    @include breakpoint($med) {display: none;}

    .open &,
    .close & {
      -webkit-animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-timing-function: ease-out;
    }
  }

  &:after {
    transform: rotate(-45deg);
    right: 15px;
    .open & {
      -webkit-animation-name: arrow-right;
    }
    .close & {
      -webkit-animation-name: arrow-right-close;
    }
  }

  &:before {
    right: 25px;
    transform: rotate(45deg);

    .open & {
      -webkit-animation-name: arrow-left;
    }
    .close & {
      -webkit-animation-name: arrow-left-close;
    }
  }
}

.filter-list {

  &:last-child { // for mobile spacing
    margin-bottom: 20px;
  }

  @include breakpoint($med) {
    @include col-third(false);
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    margin-bottom: 51px;
  }

  a {
    display: block;
    color: $black;
    padding: 2px 0;

    @include breakpoint($med) {
      padding: 0;
    }

    svg {
      height: 25px;// controls size of filters
      width: 100%;

      @include breakpoint($small) {
        height: 37px;// controls size of filters
      }

      @include breakpoint($med) {
        height: 43px;// controls size of filters
      }

      @include breakpoint ($large) {
        height: 51px; // controls size of filters
      }
    }
  }
}

.filter {
  opacity: 0;
  transition: opacity .5s ease-in-out;

  .open & { // on filter open change opacity
    opacity: 1;
  }

  svg { // removes svg for mobile
    display: none;
  }

  @include breakpoint($med) {
    opacity: 1;
    height: 43px;
    display: block;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    svg {display: block}

    span { // pushes text off screen
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  @include breakpoint($large) {
    height: 51px;
  }
}

// displays correct filter on page load for mobile

.all .filter-all,
.projects .filter-all, // default project load filter
.identity .filter-identity,
.user-interface .filter-ui,
.promotion .filter-promotion,
.packaging .filter-packaging,
.publication .filter-publication,
.product .filter-product {

  @include breakpoint(0 ($med - 1px)) { // active svg
    display: block;
    position: absolute;
    top: 23px; // pushes active svg to top
    opacity: 1;
    svg {display: block;}
    span {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  @include breakpoint($med) {
    path {fill: $red;}
  }
}

 // if on project detail page keep all path black˙

.projects[class*="projects-"]{
  .filters {
    @include breakpoint($med) {
      path {fill: $black;}
    }
  }
}

a.is-current-page path{
  fill: $red  !Important;
}


.select-wrap {
  padding-right: 12px;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  top: 25px; // push down below filter by text
  z-index: 1;

  @include breakpoint($med) {display: none;}

  &:hover {
    cursor: pointer;
  }

  &:after { // dropdown triangle
    @include pseudo;
    right: 15px;
    top: -6px;
    width:  15px;
    height: 15px;
    border-bottom:  2px solid $black;
    border-right:   2px solid $black;
    transform: rotate(45deg);
    z-index: -1;

    @include breakpoint($med) {display: none;}
  }
}

select {
  width: 100%;
  margin: 0;
  height: 50px;
  // font-size: 50px;
  outline: 0;
  background: transparent;
  opacity: 0;
}
