* {
  box-sizing: border-box;
}

html {
}

body {
  border-top: solid $black 18px;
  @include h4;
  background-color: $white;
  -webkit-font-smoothing: antialiased !important;
  color: $black;

  @include breakpoint($large) {
    @include h3;
  }
}

header,
footer {
  a { color: $black; }
}

header{
  @include o(blue);
  min-height: 112px;

  @include breakpoint($med){
    min-height: $base-spacing-unit * 4;
  }
}

footer {
  font-size: $h6;
  line-height: 20px;
  padding-top: 4px;
  margin-bottom: 100px;

  &:before { // fix for border being cutoff ??
    top: 0;
  }

  @include breakpoint($large) {
    font-size: 18px;
    line-height: 22px;
  }
}

a {
  @include link--tertiary;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  font-family: $font-NHG--roman;
  font-size: $h4;
  color: $red;

  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

img {width: 100%; display: block;}

.container {
  position: relative;
  padding-left:  12px;
  padding-right: 12px;
  margin: 0 auto;

  @include breakpoint($small) {max-width: 768px;}
  @include breakpoint($med)   {max-width: 1130px;}

  @include breakpoint ($large) {
    max-width: 2136px;
    padding-left:  144px;
    padding-right: 144px;
  }
}

.post     { margin-bottom: 12px; }
.heading  { margin-bottom: 24px; }

p {
  margin-bottom: $unit;

  @include breakpoint($med) {
    margin-bottom: $unit * 2;
  }
}

blockquote {
  margin-bottom: $unit;

  p {
    margin-bottom: 0;
  }

  cite {
    display: block;
    @include h4--med;
  }
}

// strong { font-weight: bold; }



