* {
  box-sizing: border-box;
}

html {
  $grid-color: rgba(red, 0.15);
  background-color: $white;
  height: 100%;

  &.gridShown {
    background: linear-gradient($grid-color, $grid-color 1px, transparent 1px);
    background-size: 1px $unit;
  }
}

body {
  border-top: solid $black 18px;
  -webkit-font-smoothing: antialiased !important;
  color: $black;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  font-size: 0;
  height: 100%;
}

header,
footer {
  a { color: $black; }
}

header{
  width: 100%;
  min-height: $unit-9 + $unit-half;

  @include breakpoint($small){ min-height: $unit-8 + $unit-half; }
  @include breakpoint($med){ min-height: $unit-6 + $unit-half; }
}

footer {
  margin-bottom: $unit-2;

  @include breakpoint($small) {
    margin-bottom: $unit-4;
  }
}

a {
  @include link;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  font-family: $font-NHG--roman;
  font-size: $h4;
  color: $red;

  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}

img {width: 100%; display: block;}

.container {
  position: relative;
  padding-left:  12px;
  padding-right: 12px;
  margin: 0 auto;

  @include breakpoint($small) {
    padding-left:  24px;
    padding-right: 24px;
  }

  @include breakpoint(700px) {
    padding-left:  48px;
    padding-right: 48px;
  }

  @include breakpoint($med)   {
    max-width: 1296px;
  }

  @include breakpoint ($large) {
    max-width: 2136px;
    padding-left:  144px;
    padding-right: 144px;
  }
}

.post     { margin-bottom: 12px; }
.heading  { margin-bottom: 24px; }

p {
  margin-bottom: $unit;

  &.h1, .h1-wrap & { margin-bottom: $h1-lh; }
  &.h2, .h2-wrap & { margin-bottom: $h2-lh; }
  &.h3, .h3-wrap & { margin-bottom: $h3-lh; }
  &.h4, .h4-wrap & { margin-bottom: $h4-lh; }
  &.h5, .h5-wrap & { margin-bottom: $h5-lh; }

  &.h3--med, .h3--med-wrap & { margin-bottom: $h3-lh; }
  &.h4--med, .h4--med-wrap & { margin-bottom: $h4-lh; }
  &.h5--med, .h5--med-wrap & { margin-bottom: $h5-lh; }
}

blockquote {
  margin-bottom: $unit-3;

  p {
    @include h2;
    margin-bottom: 0 !important;
  }

  cite {
    margin-top: $unit-half;
    margin-bottom: -2px;
    display: block;
    @include h4--med;
    color: $black;
  }
}

section {
  flex: 1;
}

// strong { font-weight: bold; }



