@mixin h1 {
  font-size: 46px;
  line-height: $unit * 2;
  font-family: $font-NHG--extraLight;
  letter-spacing: -.1px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h2 {
  font-size: 32px;
  line-height: $unit * 1.5;
  font-family: $font-NHG--extraLight;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h3 {
  font-size: 20px;
  line-height: $unit;
  font-family: $font-NHG--roman;
  letter-spacing: -.1px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h3--med {
  @include h3;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h4 {
  font-size: 17px;
  line-height: $unit;
  font-family: $font-NHG--roman;
  letter-spacing: -.1px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h4--med {
  @include h4;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h5 {
  font-size: 14px;
  line-height: $unit * .75;
  font-family: $font-NHG--roman;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h5--med {
  @include h5;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

.h1 { @include h1; }
.h2 { @include h2; }
.h3 { @include h3; }
.h4 { @include h4; }
.h5 { @include h5; }

.h3--med { @include h3--med; }
.h5--med { @include h5--med; }
.h5--med { @include h5--med; }

@mixin focusBox {
  display: inline-block;
  position: relative;

  &:focus {
    outline: none;

    &:after {
      content: '';
      position: absolute;
      top:      -.1em;
      bottom:   -.1em;
      left:     -.1em;
      right:    -.1em;
      outline: 1px solid $grey_medium;
    }
  }
}

@mixin link {
  text-decoration: none;

  &:hover,
  &:active {
    color: $red;
  }
}

@mixin link--secondary {
  color: $grey_dark;

  &:hover,
  &:active {
    color: $black;
  }
}

@mixin link--tertiary {
  color: $red;
  text-decoration: none;
  @include focusBox;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

// $FIXME - remove everything below
.bold,
%bold { // $fix turn into bold style
  @include h4--med;

  @include breakpoint($large) {
    @include h3--med;
  }
}


.sub-title {
  font-size: $h3;
  font-weight: 300;
}

.title-main { // aproach title
  margin-bottom: 4px;

  @include breakpoint($large) {
    margin-bottom: 20px;
  }
}
