@mixin h1 {
  font-size: 46px;
  line-height: $h1-lh;
  font-family: $font-NHG--extraLight;
  letter-spacing: -.3px;
  position: relative;
  top: -7px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h2 {
  font-size: 32px;
  line-height: $h2-lh;
  font-family: $font-NHG--extraLight;
  letter-spacing: -.2px;
  color: $grey_dark;
  position: relative;
  top: -6px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h3 {
  font-size: 20px;
  line-height: $h3-lh;
  font-family: $font-NHG--roman;
  letter-spacing: -.3px;
  position: relative;
  top: -4px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h3--med {
  @include h3;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h4 {
  font-size: 17px;
  line-height: $h4-lh;
  font-family: $font-NHG--roman;
  letter-spacing: -.3px;
  position: relative;
  top: -3px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h4--med {
  @include h4;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h5 {
  font-size: 14px;
  line-height: $h5-lh;
  font-family: $font-NHG--roman;
  position: relative;
  top: -3px;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

@mixin h5--med {
  @include h5;
  font-family: $font-NHG--med;

  @include breakpoint($small) {}
  @include breakpoint($med) {}
  @include breakpoint($large) {}
}

.h1, .h1-wrap p, .h1-wrap a { @include h1; }
.h2, .h2-wrap p, .h2-wrap a { @include h2; }
.h3, .h3-wrap p, .h3-wrap a { @include h3; }
.h4, .h4-wrap p, .h4-wrap a { @include h4; }
.h5, .h5-wrap p, .h5-wrap a { @include h5; }

.h3--med, .h3--med-wrap p, .h3-wrap a { @include h3--med; }
.h4--med, .h4--med-wrap p, .h4-wrap a { @include h4--med; }
.h5--med, .h5--med-wrap p, .h5-wrap a { @include h5--med; }

@mixin focusBox {
  display: inline-block;
  position: relative;
  outline: 0;

  &:focus {
    &:after {
      content: '';
      position: absolute;
      top:      -.05em;
      bottom:   -.1em;
      left:     -.3em;
      right:    -.3em;
      border: 1px solid $grey_medium;
    }
  }
}

@mixin link {
  text-decoration: none;
  @include focusBox;

  &:hover,
  &:active {
    color: $red;
  }
}

@mixin link--secondary {
  @include focusBox;
  text-decoration: none;
  background-image: linear-gradient(#fff 50%, $grey_dark 50%);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 2px 2px;
  color: $grey_dark;
  display: inline;
  

  &:hover,
  &:active {
    background-image: linear-gradient(#fff 50%, $black 50%);
    color: $black;
  }
}

@mixin link--tertiary {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 1em;
  background-size: 2px 2px;
  color: $red;
  @include focusBox;

  &:hover,
  &:active {
    background-image: linear-gradient(#fff 50%, $red 50%);
  }
}

// $FIXME - remove everything below
.bold,
%bold { // $fix turn into bold style
  @include h4--med;

  @include breakpoint($large) {
    @include h3--med;
  }
}
