
// Breakpoint

$small:    560px;
$med:      948px;
$large:   1681px;

$gutter1: 1px; // change for different gutter size
$gutter2: 1px;
// $gutter2: 1.2%;

$basefont:  18;
$h1:        46;
$h2:        32px;
$h3:        20px;
$h4:        17px;
$h5:        14px;
$h6:        14px;


// line height
$line: $basefont * 1.5;

// spacing

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$qtr-spacing-unit:  $base-spacing-unit / 4;


// Colors

$black_absolute:    #000000;
$black:             #222222;
$red:               #ff3c00;
$white_almost:      #fffdfa;
$white_absolute:    #ffffff;
$grey_dark:         #666666;
$grey_medium:       #999999;


// Font

$font-NHG--roman: 'NeueHaasGroteskText W01', 'helvetica', sans-serif;
$font-NHG--bold: 'NHaasGroteskTXW01-75Bd', 'helvetica', sans-serif;
$font-NHG--extraLight: 'NHaasGroteskDSW01-35XLt', 'helvetica', sans-serif;
