// Typography

.current {
  color: $red;
}

// Spacing

.mb-1 {
  margin-bottom: $base-spacing-unit;
}

.mb-2 {
  margin-bottom: $base-spacing-unit * 2;
}

.mb-2-5 {
  margin-bottom: $base-spacing-unit * 2 + $base-spacing-unit / 2;
}

// Images

.images-2up {
  @extend %row;

  > span {
    padding-bottom: 0 !important;
    height: auto !important;
    &:not(:last-child) {
      @include breakpoint($small-only) {
        margin-bottom: 1px;
      }
    }

    @include breakpoint($small) {
      @include col-half(false);
    }
  }
}
