// Typography

.current {
  color: $red;
}

// Images

.images-2up {
  @extend %row;

  > span {
    padding-bottom: 0 !important;
    height: auto !important;
    &:not(:last-child) {
      @include breakpoint($small-only) {
        margin-bottom: 1px;
      }
    }

    @include breakpoint($small) {
      @include col-half(false);
    }
  }
}

// layout
.no-margin {
  margin: 0 !important;
}

.mb-1 { margin-bottom: $unit !important; }
