---
layout: default
---

<div class="content">
  <div class="container">
    <div class="row">
      <div class="projects-list">
        {% assign years = site.our-work | group_by:"year" | sort:"name" | reverse %}
        {% for year in years %}
          <div class="projects-list__year">
            <h3 class="projects-list__year-heading">{{ year.name }}</h3>
            <ul class="projects-list__projects">
              {% assign items = year.items | sort:"date" | reverse %}
              {% for item in items %}
                <li><a href='{{ item.url }}'>{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div><!-- .projects-list__year -->
        {% endfor %}
      </div><!-- .projects-list -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .content -->