---
title: Blog
layout: default
---

<section class="container layer blog">
  {% if type == 'post' %}
    {% assign post = current %}
    {% include post-roll.html %}
    <nav class="pagination row">
      {% if post.previous %}<a href="{{ post.previous.url }}" class="prev">Previous</a>{% endif %}
      {% if post.next %}<a href="{{ post.next.url }}" class="next">Next</a>{% endif %}
      <div class="cf"></div>
    </nav>
  {% else %}
    {% for post in posts limit: 5%}
      {% include post-roll.html %}
    {% endfor %}
    <nav class="pagination row">
      <a href="{{ archive_url }}" class="prev">Previous</a>
      <div class="cf"></div>
    </nav>
  {% endif %}
  <nav class="social">
    <a href="http://rationale-design.com/feed.xml"><i class="icon-rss">rss</i></a>
    <a href="http://feedly.com/index.html#subscription%2Ffeed%2Fhttp%3A%2F%2Fwww.rationale-design.com%2Ffeed.xml"><i class="icon-feedly">feedly</i></a>
  </nav>
</section>
