---
layout: default
---
<div class="content">
  <div class="container">
    <ul class="thumbnails">
      {% for project in site.our-work %}
        <li class='thumbnail'>
          <a href='{{ project.url }}'>
            {% assign pageTitle = project.url | split: '/' %}
            {% capture img %}/assets/img{{ project.url }}thumb/{{pageTitle[2]}}-s1{% endcapture %}
            {% include img.html %}
            <h2 class="bold">{{ project.title }}</h2>
            <h3 class="sub-title">{{ project.category[0] }}</h3>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

