---
layout: default
---

<div class="content row">
  <div class="container">
    <div class="row">
      <div class="med-col-half med-offset-half">
        <div class="h2-wrap">
          {{content}}
        </div>
      </div>
    </div>
    <div class="mb-2 images-2up">
      {% for image in page.images %}
          <span>{% include img.html image=image type="post-img" %}</span>
      {% endfor %}
    </div>
    <div class="row">
      <div class="bottom_body h2-wrap med-col-half med-offset-half">
        {{ page.bottom_body | markdownify }}
      </div>
    </div>
  </div>
</div>
