---
layout: default
---

<section>
    <article class='product'>
        <div class="container">
          <div class="product-info">
              <div class='product-title med-col-half'>
                <h2 class='h2'>{{ page.title }}</h2>
              </div>
              <div class="product-buy med-col-half h4">
                {% assign price_split = page.price | round: 2 | split: "." %}
                {% assign integral = price_split[0] %}
                {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

                ${{ integral }}.{{ fractional }}<br>
                <a href="{{ page.buylink }}" target="_blank">Where to buy</a>
              </div>
          </div>
          <div class="med-col-half">
            {% include image-gallery.html %}
          </div>
          <div class="med-col-half product-detail h4-wrap">
            {{content}}
          </div>
        </div>
    </article>
  </section>
  

