---
layout: default
---

<section>
    <article class='row product'>
        <div class="container">
          <div class="product-info row">
              <div class='sm-col-half product-title'>
                <h2 class='h2'>{{ page.title }}</h2>
              </div>
              <div class="product-buy sm-col-half h4">
                {% assign price_split = page.price | round: 2 | split: "." %}
                {% assign integral = price_split[0] %}
                {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}

                ${{ integral }}.{{ fractional }}<br>
                {% if page.is_buyactive == false %}
                  {% if page.buytag %}{{page.buytag}}
                  {% else %}Where to buy{% endif %}
                {% else %}
                  {% if page.buytag %}<a href="{{ page.buylink }}" target="_blank">{{page.buytag}}</a>
                  {% else %}<a href="{{ page.buylink }}" target="_blank">Where to buy</a>{% endif %}
                {% endif %}
              </div>
          </div>
          <div class="sm-col-half product-gallery">
            {% include image-gallery.html %}
          </div>
          <div class="sm-col-half product-detail h4-wrap">
            {{content}}
          </div>
        </div>
    </article>
  </section>


