---
layout: default
---

<section>
  <article class='project-detail mb-2'>
    <div class="container">
      <div class="project-info">
        <div class='project-title md-col-half'>
          <h4 class=''>{{ page.title }}</h4>
          <h5 class=''>{{ page.date | date: "%Y" }}</h5>
        </div>
        <div class="project-description md-col-half">
          {% comment %}if project has excerpt{% endcomment %}
          {% if excerpt != body %}
              {{excerpt}}
            <div class="more-text">
              {{content}}
            </div>
            <button class="js-more hidden-break">More</button>
          {% else %}
            {{content}}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="project-images">
      {% assign pageTitle = page.url | split: '/' %}
      {% comment %}Pull number of images from imgCount set in CMS then include image{% endcomment %}
      {% for i in (1..page.imgcount) %}
        {% capture img %}/assets/img{{ page.url }}detail/{{pageTitle[2]}}-b{{i}}{% endcapture %}
        {% include img.html %}
      {% endfor %}
    </div>
  </article>
  <div class="container">
    <div class="">
      More
      <ul class="thumbnails">
        <!-- Fixme add paramater for image thumb or detail default to detail -->
        <li class='thumbnail'>
          <a href='{{ page.previous.url }}'>
            {% assign pageTitle = page.previous.url | split: '/' %}
            {% capture img %}/assets/img{{ page.previous.url }}thumb/{{pageTitle[2]}}-s1{% endcapture %}
            {% include img.html %}
            <h2>{{ page.previous.title }}</h2>
          </a>
        </li>
        <li class='thumbnail'>
          <a href='{{ page.next.url }}'>
            {% assign pageTitle = page.next.url | split: '/' %}
            {% capture img %}/assets/img{{ page.next.url }}thumb/{{pageTitle[2]}}-s1{% endcapture %}
            {% include img.html %}
            <h2>{{ page.next.title }}</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

