---
layout: default
---

<section>
  <article class='project-detail mb-2'>
    <div class="container">
      <div class="project-info">
        <div class='project-title md-col-half'>
          <h4 class=''>{{ page.title }}</h4>
          <h5 class=''>
            {% if page.year %}
              {{ page.year }}
            {% else %}
              {{ page.date | date: "%Y" }}
            {% endif %}
          </h5>
        </div>
        <div class="project-description md-col-half">
          {% comment %}if project has excerpt{% endcomment %}
          {% if excerpt != body %}
              {{excerpt}}
            <div class="more-text">
              {{content}}
            </div>
            <button class="js-more hidden-break">More</button>
          {% else %}
            {{content}}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="project-images">
      {% for image in page.images %}
          {% include img.html image=image %}
      {% endfor %}
    </div>
  </article>
  <div class="container">
    {% assign projects = site.our-work | sort:"position" %}
    {% for project in projects %}
      {% if project.url == page.url %}
        {% assign secondToLastIndex = projects.size | minus: 2 %}
        {% if forloop.index0 < secondToLastIndex %}
          {% assign next_index = forloop.index0 | plus: 1 %}
          {% assign nextNext_index = forloop.index0 | plus: 2 %}
        {% elsif forloop.index < projects.size %}
          {% assign next_index = forloop.index0 | plus: 1 %}
          {% assign nextNext_index = 0 %}
        {% else forloop.index < projects.size %}
          {% assign next_index = 0 %}
          {% assign nextNext_index = 1 %}
        {% endif %}
        {% assign next_project = projects[next_index] %}
        {% assign nextNext_project = projects[nextNext_index] %}
      {% endif %}
    {% endfor %}
    <div class="">
      More
      <ul class="thumbnails">
        <!-- Fixme add paramater for image thumb or detail default to detail -->
        <li class='thumbnail'>
          <a href='{{ next_project.url }}'>
            {% include img.html image=next_project.thumb_image %}
            <h2 class="thumbnail-title">{{ next_project.title }}</h2>
          </a>
        </li>
        <li class='thumbnail'>
          <a href='{{ nextNext_project.url }}'>
            {% include img.html image=nextNext_project.thumb_image %}
            <h2 class="thumbnail-title">{{ nextNext_project.title }}</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
