---
layout: default
---

<article class='row resource'>
    <div class="container">
      <div class="resource-info row">
          <div class='sm-col-half resource-title'>
            <h2 class='h2'>{{ page.title }}</h2>
          </div>
          <div class="resource-download sm-col-half h4">
              <a href="{{ page.download_file }}" target="_blank">Download PDF</a>
          </div>
      </div>
      <div class="sm-col-half resource-gallery">
        {% include image-gallery.html %}
      </div>
      <div class="sm-col-half resource-detail h4-wrap">
        {{content}}
      </div>
    </div>
</article>
